
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}
* {
  box-sizing: border-box;
}


/*===================================
=========Typography================== 
====================================*/

h1 {
  font-size: 2.25rem;
  margin-top:0;
  color:#fff;
  flex-basis: 40%;
  margin:0 auto;
  font-weight: 300;
  
}
h2 {
  font-size: 1.3125rem;
  margin-top:0;
}

.intro-top-text {
  color:#f18119;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 900;
  font-size: 0.625rem;
  border-top:8px solid;
  width:200px;
  margin:0 auto;

}
.join-us {
  text-transform: uppercase;
  color:#f18119;
  font-weight: 900;
}


/*background image on intro */

.intro {
  background-image: url(../images/ribs.jpg);
  background-color: rgba(0,0,0,.7);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0 10px 10px 10px;

}