/*================================================
==============General Section===========
================================================== */


body {
  margin: 0;
  color:#404040;
  font-size: 1rem;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
 
}
* {
  box-sizing: border-box;
}


/*========================================
=========Typography for intro section=====
==========================================*/

h1 {
  font-size: 2.25rem;
  margin-top:0;
  color:#fff;
  flex-basis: 40%;
  margin:0 auto;
  font-weight: 300;
  
}
h2 {
  font-size: 1.3125rem;
  margin-top:0;
  text-transform: uppercase;
  color:#f18119;
  font-weight: 900;

}

.intro-top-text {
  color:#f18119;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 900;
  font-size: 0.625rem;
  border-top:8px solid;
  margin:0 auto;
  padding-top: .3em;
  order:-1;

}


/* ================================================
=============main section typography=============== 
====================================================*/
.main-title {
  font-size: 1.5rem;
  color:#404040;
  font-weight: 900;
  margin-bottom:0;
}

.cta {
  text-transform: uppercase;
  color: #f18119;
  font-weight: 900;
  font-size: 1.2rem;
  margin-top:0;
}

.main-body {
  color: #5A5A5A;
  line-height: 1.2;
  margin-bottom: 2em;
}

.fine-print {
  font-size: .625rem;
}
  
  


/*================================================
==============background image on intro Section===========
================================================== */

.bg-image {
  background-image: url(../images/dark-ribs.jpg);
  background-color: rgba(0,0,0,.7);
  /* background-blend-mode: multiply; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
 
}

/*================================================
================Layout============================
================================================== */


.intro {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height:100vh;
  padding:0 .5em 2em;
  
}


.main {
  display: flex;
  flex-direction: column;
    padding:2em 1em;
}

/*form layout */
form {
  margin:0 auto;
  width: 80%;
  max-width: 300px;
}
input {
  display: block;
  text-align: center;
  border-radius: 5px;
  border:1px solid #404040;
  min-width: 15vw;
  height: 5vh;
  margin:0 auto;
}
input {
  margin-bottom:1em;
  width: 100%;
}
.btn {
  width: 100%;
  font-weight: bold;
  font-size: 10px;
  padding:1em 1em;
  border:none;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary {
  
  background-image:linear-gradient(to left,#FFA51D,#FF713B);
  color:#fff;
  transition: all 500ms;
  transform:scale(1);

}
.btn-primary:hover, .btn-primary:focus {
  color:black;
  transform: scale(1.2);
 
}

/*================================================
==============Media query for larger screens===========
================================================== */

@media (min-width:600px) {
  
 body {
   flex-direction: row;
 }
 .intro {
   flex-basis: 60%;
 }
 
 .main {
   justify-content: center;
   flex-basis: 80%;
 }
 .intro > *,.main > * {
        max-width: 550px;
        margin-left:auto;
        margin-right:auto;
 }
 body {
   font-size: 1.125rem;
 }
 h1 {
   font-size: 3rem;
   margin:2em 0;
 }
 h2 {
   font-size: 1.75rem;
 }
 .main p {
   font-size: 1.5rem;
 }
 .main .fine-print {
   font-size: .625rem;
 }
 .cta {
   margin-top: 0;
 }

}


/*changes top section on smaller screens to shorten the height */

@media (max-width: 696px) {
  .intro {
    min-height: 70vh;
    
  }
  input {
    height:8vh;
    max-height: 15vh;
  
    
    
  }

}